
@model List<Product>
@{
    ViewBag.Title = "ProductTable";
}



<div>
    <form method="post">

        <div class="input-group">
            <input type="text" class="form-control" placeholder="Search Here" name="search" id="searchTxt" aria-label="Recipient's username with two button addons" aria-describedby="button-addon4">
            <div class="input-group-append" id="button-addon4">
                <button  id="searchBtn" type="button">Search</button>
                <button  id="newBtn" type="button">New</button>
            </div>
        </div>

    </form>
  
    
</div>

<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td>Product Name</td>
                <td>Category</td>
                <td>Price</td>
                <td>Actions</td>
            </tr>
        </thead>
        <tbody>
            @foreach (var product in Model)
            {
                <tr>
                    <td>@product.Name</td>
                    <td>
                        @if (@product.Category != null)
                        {
                            <text>@product.Category.Name</text>
                        }
                        else
                        {
                            <text>-</text>
                        }

                    </td>
                    <td>@product.Price</td>
                    <td>
                        <button class="editBtn" data-id="@product.ID">Edit</button>
                        <button class="deteteBtn" data-id="@product.ID">Delete</button>
                        <button class="addtoCart" data-id="@product.ID">Add To Cart</button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>


<script>

    $("#searchBtn").click(function () {
        var searchValue = $("#searchTxt").val();
        $.ajax({
            url: '/Product/ProductTable',
            data: {
                search: searchValue
            }
        })
            .done(function (response) {
                $("#tableContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });

    
    $("#newBtn").click(function () {
        $.ajax({
            url: '/Product/Create',
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });



    $(".editBtn").click(function () {
       
        $.ajax({
            url: '/Product/Edit',
            data: {
                ID : $(this).attr('data-id')
            }
        })
            .done(function (response) {
                $("#actionContainer").html(response);
            })
            .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                alert("Fail");
            });
    });


    $(".deteteBtn").click(function () {

        swal({
            title: "Are you Sure want to Delete this Product?",
            text: "Once deleted, you will not be able to recover this imaginary file!",
            icon: "warning",
            buttons: true,
            dangerMode: true,
        })
            .then((willDelete) => {
                if (willDelete) {
                    
                    $.ajax({
                    type: 'POST',
                    url: '/Product/Delete',
                    data: {
                        ID: $(this).attr('data-id')
                    }
                })
                .done(function (response) {
                    $("#tableContainer").html(response);
                    swal("Poof! Product has been deleted!", {
                        icon: "success",
                    });
                })
                .fail(function (XMLHttpRequest, textStatus, errorThrown) {
                    alert("Fail");
                });
                }
                else {
                swal("Your imaginary file is safe!");
                }
            });

        //var confirmDelete = confirm("Are you Sure want to Delete this Product");
        //if (confirmDelete == true)
        //{
        //        $.ajax({
        //            type: 'POST',
        //            url: '/Product/Delete',
        //            data: {
        //                ID: $(this).attr('data-id')
        //            }
        //        })
        //        .done(function (response) {
        //            $("#tableContainer").html(response);
        //        })
        //        .fail(function (XMLHttpRequest, textStatus, errorThrown) {
        //            alert("Fail");
        //        });
        //}
        });
    

    var products = [];

    $(".addtoCart").click(function () {

        var productId = $(this).attr('data-id');

        products.push(productId);

        $.cookie('CardProducts', products.join('-'));                  //cockie me name or productid

        alert("Product Add to Cart")
    });


</script>










